type hdmi-off, domain, coredomain, mlstrustedsubject;
type hdmi-off_exec, exec_type, vendor_file_type, file_type;

#permissive hdmi-off;
init_daemon_domain(hdmi-off)

#file_type_auto_trans(hdmi-off, system_data_file, system_data_file)

allow hdmi-off shell_exec:file { getattr read };
allow hdmi-off aplog_data_file:file { open create read write getattr append rename unlink };
allow hdmi-off aplog_data_file:dir { read open getattr create write add_name remove_name search rmdir };
allow hdmi-off toolbox_exec:file { execute execute_no_trans getattr open read };
